.structurizr/1/images/Diagram1-thumbnail.png
.structurizr/1/images/thumbnail.png
.structurizr/index/_2.cfe
.structurizr/index/_2.cfs
.structurizr/index/_2.si
.structurizr/index/segments_3
.structurizr/index/write.lock
